@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.hidden {
  display: none;
}

html {
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: hsl(275, 100%, 97%);
  min-height: 100vh;
}

.background-image {
  min-width: 100%;
  height: 14.5rem;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.faq {
  position: relative;
  top: -5.5938rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
  margin: 0 auto;
  padding: 1.5rem 24px;
  max-width: calc(100% - 48px);
}

.faq__title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  color: hsl(292, 42%, 14%);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}

.faq__title-icon-star {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 24px;
}

.article--1,
.article--2,
.article--3 {
  border-bottom: 1px solid hsl(275, 100%, 97%);
}

.faq__question {
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}
.faq__question:hover h2 {
  color: hsl(281, 83%, 54%);
  transition: color 0.3s ease-in-out;
}

.question--1,
.question--2,
.question--3 {
  padding-bottom: 1.25rem;
}

.faq__question-text {
  color: hsl(292, 42%, 14%);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.faq__question-icon-plus,
.faq__question-icon-minus {
  width: 1.875rem;
  height: 1.875rem;
}

.faq__answer {
  color: hsl(292, 16%, 49%);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
}

.answer--1,
.answer--2,
.answer--3 {
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}

.answer--4 {
  margin-top: 1.5rem;
}

@media only screen and (min-width: 426px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background-image {
    height: 20rem;
    background-image: url("../assets/images/background-pattern-desktop.svg");
  }
  .faq {
    top: -152.5px;
    margin: 0 1.5rem;
    padding: 2.5rem 40px;
    width: calc(100% - 48px);
    max-width: 37.5rem;
  }
  .faq__title {
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
  }
  .faq__title-icon-star {
    width: 2.5rem;
    height: 2.5rem;
  }
  .faq__question {
    padding-top: 1.5rem;
    gap: 0;
  }
  .question--1,
  .question--2,
  .question--3 {
    padding-bottom: 1.5rem;
  }
  .faq__question-text {
    font-size: 1.125rem;
  }
  .faq__answer {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .answer--1,
  .answer--2,
  .answer--3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .answer--4 {
    margin-top: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */